@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

:root {
  --primary-color: #fff;
  --secondary-color: #7fc8a9;
  --tertiary-color: #28df99;
  --dark-color: #000;
  --light-color: #ffffff;
  --little-light-color: #b9b9b9;
  --little-dark-color: #333;
  --medium-dark-color: #1f1e1e;
  --danger-color: #ff4848;
  --success-color: #0bbb0b;
}

/*Utility class*/
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-image: linear-gradient(
    to right top,
    #8492ed,
    #c176d8,
    #ed52a8,
    #fd3a65,
    #eb4b12
  );
  padding: 10px 25px;
  border-radius: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background: linear-gradient(to right, #000000, #434343);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  position: relative;
}

.w-960 {
  max-width: 960px;
  margin: 0 auto;
}

a {
  display: inline-block;
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}

button {
  border: 0;
}

button:hover {
  cursor: pointer;
}

input {
  border: 0;
}

button:focus,
input:focus {
  outline: 0;
}

.message {
  font-size: 1em;
  letter-spacing: 1px;
}

.message.error {
  color: var(--danger-color);
}
.message.success {
  color: var(--success-color);
}

.must {
  color: var(--danger-color);
  font-size: 1.25em;
}
